<Scene name="MenuScene">
    <Camera name="MainCamera" x="0" y="0" zoom="1" />
    <!-- Centered Sprite (x=-1, y=-1 for width=2, height=2) -->
    <Sprite name="StartButton" imageSrc="../../Fluxion/Icon/Fluxion_icon.png" x="-1" y="-1" width="2" height="2">
        <ClickableArea name="StartButtonHitbox" />
    </Sprite>
</Scene>
